<div class="home-info">
                              <h1>here is it <br>three in one combo !</h1>
                              <!-- You can change the date time in init.js file -->
                              <ul class="">
                                   <li>
                                        <h3>qrcode converter</h3>
                                   </li>
                                   <li>
                                        <h3>word translator</h3>
                                   </li>
                                   <li>
                                        <h3>weather report</h3>
                                   </li>
                                   <li>
                                        <span class="seconds">lot more is comming</span>
                                   </li>     
                              </ul>
                              <div class="subscribe-form">
                                {% comment %} <form action="" method="get">
                                  <input type="email" name="email" class="form-control" placeholder="Enter your email" required="">
                                  <button type="submit" class="form-control"><i class="fa fa-envelope-o"></i></button>
                                </form> {% endcomment %}
                              </div>
                         </div>